[Unit]
Description=Smart Log Service

[Service]
User=root
WorkingDirectory=/home/layer7/smartlog
ExecStart=/usr/bin/python3 /home/layer7/smartlog/smartlog.py
Type=simple
KillSignal=SIGINT
Environment=PYTHONUNBUFFERED=1
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
